body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.top-banner{
    width: 100%;
    height: 700px;
    display: block;
    background-image: url(Images/food/food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -36px;
}
#overlay{
    position: absolute;
    width: 100%;
    height: 110%;
    display: block;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.headline{
    width: 50%;
    height: 45px;
    color: white;
    margin-left: 150px;
    padding: 30px;
}
a{
    text-decoration: none;
    padding: 10px 40px;
    border-color: green;
    border-style: solid;
    color: white;
}
.favourite-section{
    width: 100%;
    height: 700px;
    display: block;
}
.fav-main-width{
    width: 80%;
    height: 600px;
}
.fav-width{
    width: 20%;
    float: left;
}
.fav-width img{
    width: 20%;
    height: 50px;
}
.top-section{
    width: 100%;
    height: 610px;
    display: block;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-top: 6%;
    margin-left: 30px;
}
.half-width img{
    width: 80%;
    margin-left: 60px;
}
h1{
    font-size: 43px;
}
span{
    color: orangered;
    text-decoration: underline;
}
p{
    margin-bottom: 40px;
}
.anchor-link{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient( to right, green, yellowgreen);
    border-radius: 20px;
    color: white;
}
.half-width .about-image{
    width: 60%;
    height: 340px;
    margin: 0 auto;
    margin-left: 30%;
}
.about-banner .half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    padding-top: 60px;
    margin-top: 6%;
    margin-left: 30px;
}
.about-banner{
    background-image: url(Images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    width: 100%;
    margin-top:150px;
}
.recipie-section{
    width: 100%;
    height: 600px;
}
.my-recipie{
    width: 40%;
    margin-left: 400px;
    text-align: center;
    margin-top: 10%;
}
.my-rcp-paragraph{
    margin-top: 20px;
    margin-bottom: 40px;
}
.recipie-width{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 10px lightgray;
}
.recipie-width img{
    width: 335px;
}
.follower-section{
    width: 100%;
    height: 200px;
    margin-top: 80px;
    margin-bottom: 65px;
}
.follower{
    width: 85%;
    height: 70%;
    margin-left: 7%;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px lightgray;

}
.follower-width{
    width: 20%;
    float: left;
    margin-left: 140px;

}
div.follower-width h1{
    font-size: 30px;
}
.fotter-section{
    width: 100%;
    height: 150px;
    background-color: black;
}
h4{
    color: honeydew;
}
.fotter-section p{
    color: white;
    margin-top: 20px;
}
.fotter-margin{
    text-align: center;
    padding: 20px;
}